{% extends 'base.html' %}
{% load static %}
{% block css %}
<link  rel="stylesheet" href="{% static 'css/article_detail' %}">
{% endblock css %}

{% block content %}

 {% if object.photo %}
    {{ object.photo.url }}| {{ object.title }}
 {% endif %}
   <div class="mavzu">
       <h1>{{ object.title }}</h1>
   </div>
    {{ object.body | safe }}

  <h5>Muallif: {{ object.author }}| {{ object.date }}</h5>

 <h1><a href="{% url 'article_edit' article.pk %}"> Tahrirlash</a></h1>
 <h2><a href="{% url 'article_delete' article.pk %}"> O'chirish</a></h2>
 <h3><a href="{% url 'article_list' %}"> Barcha postlar</a></h3>

{% endblock %}

