/* ! Slider */
.activee {
  border: 2px solid #fff;
  box-shadow: inset 0 0 0 3px #1A70F1;
}

.grabbing {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}

.sliderWrap {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
}
.sliderWrap .slider-indicatorss {
  position: absolute;
  bottom: 0;
  display: flex;
  left: 50%;
  margin-bottom: 20px;
  transform: translateX(-50%);
}
.sliderWrap .slider-indicatorss span {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  margin: 0 5px;
}
.sliderWrap .slidess {
  cursor: -webkit-grab;
  cursor: grab;
  width: 300%;
  height: 100%;
  display: flex;
  transition: 0.3s;
}
.sliderWrap .slidess .slidee {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 50px;
  color: #fff;
}
.sliderWrap .slidess .slidee h2 {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 3rem;
  width: 50%;
  text-shadow: -1px 1px 0 #000;
  margin: 0 0 25px 0;
}
.sliderWrap .slidess .slidee button {
  background: transparent;
  padding: 0;
  border: none;
  font-size: 17px;
}
.sliderWrap .slidess .slidee button a {
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  background: #1A70F1;
}
.sliderWrap .slidess .slidee:first-child {
  background-image: url(/static/img/slide1.png);
}
.sliderWrap .slidess .slidee:nth-child(2) {
  background-image: url(/static/img/slide2.png);
}
.sliderWrap .slidess .slidee:last-child {
  background-image: url(/static/img/slide3.png);
}

.fc {
  font-size: 15px !important;
  color: #ddd;
}

.category {
  width: 100%;
  padding: 20px 0;
}
.category img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}
.category-wrap {
  grid-template-columns: repeat(10, 10%);
  display: grid;
}
.category-item {
  padding: 10px;
}
.category-item a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}
.category-img {
  margin-bottom: 5px;
}

.products-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.products-wrap .product {
  margin: 10px;
  width: calc(25% - 20px);
}
.products-wrap .product-picture {
  height: auto;
  margin-bottom: 5px;
  width: 100%;
}
.products-wrap .product-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.products-wrap .product-info {
  padding: 0 10px;
}

@media screen and (max-width: 991.5px) {
  .category-wrap {
    grid-template-columns: repeat(5, 20%);
  }
  .category-item a {
    font-size: 12px;
  }
  .sliderWrap .slidess .slidee h2 {
    font-size: 2rem;
    width: 100%;
  }
  .sliderWrap .slidess .slidee button a {
    padding: 7px 15px;
    font-size: 15px;
  }
  .product-wrap .product {
    width: calc(20% - 20px);
  }
}
@media screen and (max-width: 768.5px) {
  .products-wrap .product {
    width: calc(33.3333333333% - 20px);
  }
}
@media screen and (max-width: 568.5px) {
  .products-wrap .product {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 425.5px) {
  .product--name {
    font-size: 20px !important;
  }
  .product--price {
    font-size: 16px !important;
  }
  .category-wrap {
    grid-template-columns: repeat(4, 25%);
  }
  .sliderWrap {
    height: 400px;
  }
  .sliderWrap .slidess .slidee {
    padding: 20px;
    padding-bottom: 50px;
  }
  .sliderWrap .slidess .slidee h2 {
    text-shadow: -2px 2px 5px #000;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 320.5px) {
  .category-wrap {
    grid-template-columns: repeat(3, 33.33%);
  }
  .products-wrap .product {
    width: calc(100% - 20px);
  }
}